*{
    margin: opx;
    padding: 0px;
}

h1,h2,h3 {
    background-color:#0e92be;
    color:whitesmoke;
}

table, th, td, tr {
    border-width: 1px;
    border-color: black;
    border-style: ridge;
}

body{
    margin: 0px;
}

.a {
    text-decoration: none;
    color:white;
    text-shadow: -1px 0 black , 0 1px black, 1px 0 black, 0 -1px black;
}

.menu{
    text-align: left;
    list-style: none;
    margin-left: 140px;
}

.menu li {
    padding: 16px;
    display: inline-block;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(#0e92be, #0c80a6, #0b6d8d);
    border-left-color:#0e92be;
    border-left-style: solid;
    border-left-width: 1px; 
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    margin-left: 85px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.hover:hover{
    background-image: linear-gradient(#07495f, #07495f, #07495f);
    cursor: pointer;  

}

.principal{
    width: 80%;
    margin: auto;
}

.div{
    background-image: linear-gradient(#0e92be, #0c80a6, #0b6d8d);
}

input{
    background-color: #0b6d8d;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(252, 252, 252, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    float: right;
    margin-top: 10px;
    margin-right: 142px;
    padding: 4px;
    color: whitesmoke;
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::placeholder{
    color: #cccccc;
    background-color: #0b6d8d;

}

